.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 300px;
}
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}